[nodes]
xxxxxxx        ansible_host=xxxxxxxxxxxxx     ansible_user=xxxxx
xxxxxxx        ansible_host=xxxxxxxxxxxxx     ansible_user=xxxxx
xxxxxxx        ansible_host=xxxxxxxxxxxxx     ansible_user=xxxxx
xxxxxxx        ansible_host=xxxxxxxxxxxxx     ansible_user=xxxxx